{% extends "base.html" %}
{% block css-block %}
<link rel='stylesheet' href='/static/css/login.css'>
{% endblock css-block %}
  {% block title-block %}
  <title>메인페이지 | VLAST Shop</title>
  {% endblock title-block %}

{% block body-block %}

    <h2>메인페이지</h2>
    {% if not request.session.session_id %}
        <ul>
            <li><a href='/member/login/'>로그인</a></li>
            <li><a href=''>회원가입</a></li>
            <li><a href='/admin/'>admin관리자</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href='{% url "member:logout" %}'>로그아웃</a></li>
            <li><a href='/board/list/'>게시판</a></li>
            <li><a href='/board/view2/101/'>하단댓글게시판</a></li>
            <li><a href='/board/chart/'>chart.js 그래프 출력</a></li>
            <li><a href='/admin/'>admin관리자</a></li>
        </ul>
    {% endif %}
{% endblock body-block %}
