<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>차트그리기</title>
    <style>
        #chart_back{width: 800px; height: 600px; border:1px solid #000;}
    </style>
</head>
<body>
    <div>
        <h2>차트그리기</h2>
        <input type="text" name='m_data' id="m_data">
        <button type="button" onclick="chartBtn()">가져오기</button>
    </div>

    <div id='chart_back'>
        <canvas id="myChart"></canvas>
    </div>

    <script>
        function chartBtn(){
            alert("데이터를 가져와 차트를 그립니다.")
            // 요청번호
            let input_data = $('#m_data').val();
            //chart그리기에 필요한 데이터
            d_data = [];
            label_data = [];

            //ajax로 데이터 가져오기
            $.ajax({
                url : '/chart_json/', //요청경로
                type : 'GET', //요청방식
                dataType : 'json', //응답받을 데이터 형식
                headers: {'X-CSRFTOKEN' : '{{ csrf_token }}' }, //csrf토큰 추가
                data : {'input_data' : input_data}, //요청시 전달값
                success : function(data){
                    //통신성공시 실행할 코드
                    alert('성공');
                    d_data = data.dd_data;
                    label_data = data.ll_data;
                    console.log(data);

                    // 비동기 방식으로 진행되어 ajax 데이터가 늦게 전달됨.
                    // 차트 그리기 명령어도 ajax안에 입력이 되어야함.
                    // chart 그리기
                    const ctx = document.getElementById('myChart');

                    new Chart(ctx, {
                        type: 'bar',  //차트종류
                        data: {        //
                        labels: label_data,   // x축 데이터
                        datasets: [{     // y축 데이터
                            label: '# of Votes',   //  차트 제목
                            data: d_data,    // y축 데이터
                            borderWidth: 1   // 테두리 굵기
                        }]
                        },
                        options: {    //
                        scales: {     // 축 설정
                            y: {    // y축 설정
                            beginAtZero: true    // y축의 값이 0부터 시작
                            }
                        }
                        }
                    });//new Chart끝

                },
                error : function(){
                    console.log("에러발생");
                }
            });//ajax끝

            
        }//function끝

    </script>

</body>
</html>